/**
 * @date 13.03.2013
 * @version 1.1
 * @author Hilmar Kári Hallbjörnsson
 *
 */

@import url(reset.less);
@import url(resources.less);

body{
	background-color: @background-color;
	margin: 30px;
	font-family: Garamond;
	font-size: 16px;

	h1{
		color: white;
	}

	.wrapper{
		max-width: 800px;
	}
}

.youtube-wrapper{
	width: 100%;
	background-color: white;
	border: 3px solid black;

	p{
		margin: 10px;
	}
	
	margin-bottom: 20px;
}

p.summary{
	color: white;
	margin-bottom: 20px;
}

a.delete{
	margin: 5px;
	background-color: red;
	width: 60px;
	border: 1px solid black;
}

.another-button{
	display: block;
	padding: 5px;
	font-weight: bold;
	text-align: center
}

a.add{
	width: 120px;
	display: inline;
	background-color: lime;
	border: 1px solid black;
}

p{
	margin-bottom: 10px;
}

li.lecture{
	float: left;
	margin-right: 40px;
	margin-bottom: 20px;
}

li.lecture:after{
	.clearfix;
}

li.comments{
	border: 2px solid black;
	margin-bottom: 10px;
	background-color: grey;
	padding: 10px;
}

ul{
	margin-bottom: 40px;
}

textarea{
	width: 100%;
	min-height: 200px;
}

dl{
	max-width: 400px;
	padding: 10px;
	background-color: lime;
	
	button{
		margin-top: 20px;
	}

	input{
		width: 100%;
	}
}

button{
	margin-top: 20px;
	padding: 6px;
}

section.chatboards{
	ul{
		li{
			width: 700px;
			padding: 10px;
		}

		li:nth-of-type(odd){
			background-color: lime;
		}
	}

	a.button{
		margin-top: 20px;
		display: block;
		width: 120px;
	}
}

/**
 * GLOBAL STYLES
 */
h1, h2{
	margin-bottom: 10px;
}

.button{
	padding: 10px;
	.border-radius(10px 10px 10px 10px);
	background-color: white;
	font-family: Verdana;
	font-style: bold;
	font-size: 18/16em;	
}

input{
	.box-shadow(3px 3px 2px rgba(0,0,0,.5));
	font-size: 20/16em;
}

a, a:hover, a:visited{
	color: black;
}












/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}