<h2>Lecture view - Teacher</h2>

<ul>
	<li class='lecture' ng-repeat='lecture in lectures'>
		<h2>{{lecture.name}}</h2>
		<input type= "checkbox" ng-check="lecture.done" ng-model= "lecture.done" />
		<a href="{{lecture.link}}">{{lecture.name}}</a></br>
		<p>{{lecture.summary}}</p>
		

		<a href='#/lecture/{{lecture.id}}'>{{lecture.comments.length}}</a>

		<!--ul ng-repeat='comment in lecture/{{lecture.id}}'>
			
			<li>
				{{commnet.text}}
				
			</li></br-->
		</ul>
		<!--div>
			<label for='comment'>Add comment</label></br>
			<textarea id='comment' ng-model='comment.text'></textarea>
		</div>
		
		<button class='button' ng-click='addComment()'>Senda</button-->
		<button class='button' ng-click='delete()'>delete</button>

	</li>
</ul>