<ul>
  <li ng-repeat='lecture in lectures | orderBy:"title"'>
    <h2 id='$id'>{{lecture.title}}</h2>
    <p>{{lecture.summary}}</p>
    <p>
      <a href='#/lecture/{{lecture.id}}'>
        {{lecture.comments.length}}
        <ng-pluralize count='lecture.comments.length'
          when='{"1": "comment", "other": "comments"}'>
        </ng-pluralize>
      </a>
      |
      <a href='#/addComment/{{lecture.id}}'>add comment</a>
    </p>
    <ul class='comments' ng-show='lecture.id == selectedlectureId'>
      <li ng-repeat='comment in lecture.comments | orderBy:"id"' ng-class-even='"even"' ng-class-odd='"odd"'>
        <div>#{{$index}}</div>
        <div><a ng-click='onDelete(comment.id)'>delete</a></div>
        <p>{{comment.content}}</p>
      </li>
    <ul>
  </li>
</ul>