<h2>Teacher view</h2>

<ul>
	<li class='lecture' ng-repeat='lecture in lectures'>
		<a href="#/lecture/{{lecture.id}}"><h2>{{lecture.name}}</h2></a>
		<p>
      <a href='#/lecture/{{lecture.id}}'>
        {{lecture.notes.length}}
        <span ng-show='lecture.notes.length == 1'>note</span>
        <span ng-show='lecture.notes.length != 1'>notes</span>
      </a>
      |
      <a href='#/addComment/{{lecture.id}}'>add comment</a>
    </p>

	</li>
</ul>
<button class='button' ng-click='insert()'>Add lecture</button>
