<h2>Teacher view</h2>

<ul>
	<li class='lecture' ng-repeat='lecture in lectures'>
		<h2>{{lecture.name}}</h2>
		<a href="{{lecture.link}}">{{lecture.name}}</a>
		<button class='button' ng-click='delete()'>delete</button>
		<ul ng-repeat='comment in lecture/{{lecture.id}}'>
			<!-- Spurning hvort það þurfi ekki að breyta þessu eitthvað. Alla vega að skoða skilyrði í repeat.-->
			<li>
				{{commnet.text}}
				<!-- Það þarf örugglega að skoða breytuna -->
			</li></br>
		</ul>
		<div>
			<label for='comment'>Add comment</label></br>
			<textarea id='comment' ng-model='comment.text'></textarea>
		</div>
		
		<button class='button' ng-click='addComment()'>Senda</button>

	</li>
</ul>
<button class='button' ng-click='insert()'>New lecture</button>
